$body-background-color: rgba(0,0,0,0.3);
$sidebar-background-color: #fff;
$app-color: #FD104D;
$contact-card-size: 44px;
$contact-card-text-color: #fff;
$next-btn-height: 30px;
$input-height: 35px;
$search-bg-color: #e9eaeb;
$contacts-email-color: #767676;
$breakpoint-phone: 576px;